body{
	padding: 0;
	margin:0;
	font-size: 20px;
}
button{
	padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    cursor:pointer;
    margin-left: 5px;
}
button:hover{
	background-color: #024978;
}
canvas{
	position: relative;
	float: left;
}
#trials{
	list-style: none;
	background-color: lightblue;
	text-align: center;
	font-size: 20px;
}

.container{
	background-color: lightblue;
	text-align: center;
}
li{
	display: inline;
	margin-left: -3px;
}
input[type='text']{
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}